:root {
    --paper: #bbb;
    --accent: #af0;
    --black: #666;
}

body {
    color: var(--black);
    font-family: "Roboto Mono", monospace;
    font-weight: 400;

    background-color: var(--paper);
    
    margin: 2vw;
}

h1 {
    display: inline-block;
    background-color: var(--accent);
    font-weight: 100;
}

a {
    color: var(--black);
    text-decoration: none;
    border-bottom: 3px solid var(--accent);
}

#github-link {
    border: 0;
}

#github-link img {
    width: 30px;
    fill: var(--black);
}
